<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631505308537-mpl8pn3p9oieojipedkfiu6oiqbdhhum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631505308537-mpl8pn3p9oieojipedkfiu6oiqbdhhum</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>631505308537-bjifrc1emvhh1cqerln0ahs9ojrs9mdt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string></string>
	<key>GCM_SENDER_ID</key>
	<string>631505308537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GipPrecones.ePayment.ePayment</string>
	<key>PROJECT_ID</key>
	<string>receiving-payment</string>
	<key>STORAGE_BUCKET</key>
	<string>receiving-payment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631505308537:ios:6e17527a98ed51ca653da8</string>
	<key>DATABASE_URL</key>
	<string>https://receiving-payment-default-rtdb.firebaseio.com</string>
</dict>
</plist>
